@use "../variables" as *;
@use "../mixins" as *;

.end {
    width: 100%;
    aspect-ratio: 500 / 810;
    background: url('https://yenstudio.info.vn/gu-van/5.jpg') no-repeat 100% 100% / cover;
    justify-content: end;
    .content {
        width: 100%;
        font-family: $blushing-rose-font;
        p {
            font-size: 17.5px;
            text-transform: uppercase;
            margin-bottom: 5%;
            color: white;
        }
    }

    @media (max-width: 500px) {
        .content {
            p {
                font-size: calc((17.5 / 500) * 100vw);
            }
        }
    }
}
